---
import Home from "../layouts/Home.astro";
import BlogPost from '../components/BlogPost.astro';
import { recentBlogPosts } from "../scripts/recentBlogPosts.js";

const pageTitle = "Matt Bourne - Web Developer";
const allPosts = await Astro.glob('./posts/*.md');
const recentPosts = recentBlogPosts(allPosts, {limit: 3,});
---

<Home pageTitle={pageTitle}>
	<section class="flex items-center w-full bg-white lg:pt-16 pt-12 lg:pb-16 pb-12 px-4 max-w-7xl mx-auto font-body">
		<div class="flex items-center justify-between flex-col-reverse lg:flex-row w-full">
			<div class="textholder w-full lg:w-1/2 mx-auto text-center lg:text-left lg:mt-0 mt-6">
				<h1 class="w-full font-bold text-6xl lg:text-8xl text-gray-900 font-heading">Matt Bourne</h1>
				<p class="mt-3 mb-6 text-xl font-light text-gray-500 max-w-xl lg:max-w-none mx-auto">A curious and enthusiastic web developer based in Worcester, currently working in the creative arts sector.</p>
				<a href="/assets/documents/matt-bourne-cv.pdf" target="_blank" class="mr-2 inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-brand-blue hover:bg-brand-blue-light focus:ring-4 focus:ring-primary-300 transition ease-in-out duration-150">
					Download CV
				</a>
				<a href="mailto:hello@mattbourne.co.uk" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-brand-blue hover:text-white focus:ring-4 focus:ring-gray-100 transition ease-in-out duration-150">
					Get in Touch
				</a> 
			</div>
			<div class="imageHolder w-full lg:w-1/2">
				<img class="mx-auto" src={`/assets/images/mattBourneHeadshot.png`} alt="Matt Bourne headshot">
			</div>
		</div>
	</section>
	<section class="bg-white dark:bg-gray-900 px-4 pt-16 pb-32 px-4 max-w-7xl mx-auto font-body">
		<div class="gap-16 items-center lg:grid lg:grid-cols-2">
			<div class="grid grid-cols-2 gap-4 mt-8 lg:mb-0 mb-4">
				<img class="w-full rounded-lg" src={`/assets/images/mattRun.jpg`} alt="Matt Bourne running">
				<img class="mt-4 w-full lg:mt-10 rounded-lg" src={`/assets/images/mattProfessional.jpg`} alt="Matt Bourne headshot">
			</div>
			<div class="font-light text-gray-500 sm:text-base">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">A bit about me</h2>
				<p class="mb-4">Hello! I’m Matt and I am a Web Developer currently working for Substrakt. Over the past 6 years, I have worked with a diverse range of clients, including local schools and charities as well as international venues and theatres. This vast experience has provided me with a comprehensive skillset in both frontend and backend web development.</p>
				<p class="mb-4">As someone who is goal driven and takes responsibility for his own development, I have a deep interest in the digital landscape, I am eager to explore new opportunities within this ever-changing field and push the boundaries of the ever-changing digital world!</p>
				<p>Away from work I enjoy getting outside and exploring the great outdoors, you can usually find me running around the streets of Worcester and competing in races all over the country!</p>

			</div>
		</div>
	</section>
	<section class="bg-brand-blue font-body">
		<div class="px-4 py-16 px-4 max-w-7xl mx-auto font-body">
			<h2 class="w-full text-center font-bold text-4xl leading-10 text-white font-heading lg:mb-12 mb-2">Companies I've Worked With</h2>
			<div class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-16 my-8">
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/substrakt.svg" class="lg:h-8 h-4 w-auto mx-auto object-center" alt="Substrakt Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/worcester-web-studio.svg" class="lg:h-12 h-10 w-auto mx-auto align-middle" alt="Worcester Web Studio Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/thursfields.svg" class="lg:h-6 h-4 w-auto mx-auto align-middle" alt="Thursfields Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/gadget-show.svg" class="lg:h-12 h-10 w-auto mx-auto align-middle" alt="The Gadget Show Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/sadlers-wells.svg" class="lg:h-20 h-14 w-auto mx-auto align-middle" alt="Sadlers Wells Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/birmingham-city-university.svg" class="lg:h-10 h-8 w-auto mx-auto align-middle" alt="Matt Bourne Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/birmingham-hippodrome.svg" class="lg:h-24 h-20 w-auto mx-auto align-middle" alt="Birmingham Hippodrome Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/aegon.svg" class="lg:h-12 h-10 w-auto mx-auto align-middle" alt="Aegon Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/resource-group.svg" class="lg:h-14 h-10 w-auto mx-auto align-middle" alt="The Resource Group Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/pets-at-home.svg" class="lg:h-14 h-10 w-auto mx-auto align-middle" alt="Pets at Home Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/sky.svg" class="lg:h-14 h-10 w-auto mx-auto align-middle" alt="Sky Logo">
				</div>
				<div class="flex items-center justify-center">
					<img src="/assets/images/logos/marks-and-spencers.svg" class="lg:h-14 h-10 w-auto mx-auto align-middle" alt="Marks and Spencers Logo">
				</div>
				
				
			</div>
		</div>
	</section>
	<section id="recentBlogPosts" class="bg-white pt-32 pb-8 px-4 max-w-7xl mx-auto font-body">
		<h2 class="w-full text-center font-bold text-4xl leading-loose text-gray-900 font-heading lg:mb-4 mb-2">Recent Blog Posts</h2>
		<div class="lg:my-12 my-8 grid gap-10 max-w-lg lg:max-w-none mx-auto lg:grid-cols-3">
			{
				recentPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} tags={post.frontmatter.tags} date={post.frontmatter.pubDate} imageTitle={post.frontmatter.featuredImageTitle} imageAlt={post.frontmatter.featuredImageAlt}
				/>
		
				))
			}
		</div>
		<div class="blogFooter text-center mt-8 mb-6">
            <div class="recentButton">
                <a href=/blog>
                    <p class="inline-flex items-center text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                        View All Posts <i class="ml-2 fa-solid fa-arrow-right"></i>
                    </p>
                </a>
            </div>
        </div>
	</section>
	<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</Home>
