---
const { title, description, url, date, tags, featuredImageSRC, featuredImageAlt  } = Astro.props;

import { formatDate } from '../scripts/dateFormat';
---
<article class="flex flex-col rounded-lg shadow-lg overflow-hidden lg:mx-0 mx-2">
    <div class="flex-shrink-0">
        <img class="h-48 w-full object-cover" width="100%" height="auto" src="/assets/images/featured-image1.jpeg" alt={featuredImageAlt}>
    </div>
    <div class="flex-1 bg-white px-4 pt-4 pb-5 flex flex-col justify-between">
        <div class="main flex flex-col">
            <div class="inline-flex justify-between">
                <div class="tags">
                    {tags.map((tag) => (
                        <a href={`/tags/${tag}`}>
                            <p class="tag text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                                {tag}
                            </p>
                        </a>
                    ))}
                </div>
                <span class="text-base leading-5 text-gray-500">{formatDate(date)}</span>
            </div>
            <h2 class="mt-2 text-2xl leading-7 font-semibold text-gray-900 hover:text-gray-600 transition ease-in-out duration-150 font-heading"><a href={url}>{title}</a></h2>
            <p class="mt-1 text-sm leading-5 text-gray-500">{description}</p>
        </div>
        <div class="mt-5 flex justify-end">
            <a href={url}>
                <p class="inline-flex items-center text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                    Read more <i class="ml-2 fa-solid fa-arrow-right"></i>
                </p>
            </a>
        </div>
    </div>
</article> 

