---
const { length, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;
const paginationList = Array.from({length: `${length}`}, (_, i) => i + 1);
---

<nav aria-label="Blog pages" class="pagination pagination-default text-center lg:py-6 py-4">
    { prevUrl ? (
        <a href={prevUrl} class="pagination__link text-medium leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
            <i class="mr-3 fa-solid fa-arrow-left"></i>
        </a>
    ) : (
        <span class="pagination__link disabled"></span>        
    )}
    
    {
        paginationList.map((num) => (
            <a href={`${firstUrl}${num == 1 ? "" : '/'+(num)}`} class={`pagination__link px-4 text-medium leading-5 font-semibold transition ease-in-out duration-150 ${currentPage == num ? "disabled pointer-events-none active text-gray-600" : "text-brand-blue hover:text-brand-blue-light"}`}>
                {num}
            </a>
        ))
    }

    { !nextUrl ? (
        <span class="pagination__link disabled"></span>
    ) : (
        <a href={nextUrl} class="pagination__link text-medium leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
            <i class="ml-3 fa-solid fa-arrow-right"></i>
        </a>
    )}
</nav>