---
const { frontmatter } = Astro.props;

import PostLayout from './PostLayout.astro';
import {formatDate} from '../scripts/dateFormat';

--- 
<PostLayout pageTitle={frontmatter.title} tags={frontmatter.tags} publishedDate={formatDate(frontmatter.pubDate)} imageTitle={frontmatter.featuredImageTitle} imageAlt={frontmatter.featuredImageAlt}>
    <section class="blogContent my-8 lg:mx-0 mx-2">
        <article class="prose prose-mattBourne max-w-none text-gray-900">
            <slot />
        </article>
        <div class="blogFooter text-center mt-8 mb-6">
            <div class="backButton">
                <a href=/blog>
                    <p class="inline-flex items-center text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                        <i class="mr-2 fa-solid fa-arrow-left"></i> Back to the blog
                    </p>
                </a>
            </div>
        </div>
    </section>
</PostLayout>
