---
const { frontmatter } = Astro.props;

import PostLayout from './PostLayout.astro';
import {formatDate} from '../scripts/dateFormat';

--- 
<PostLayout pageTitle={frontmatter.title} publishedDate={formatDate(frontmatter.pubDate)}>
    <section class="blogContent my-8 lg:mx-0 mx-2">
        <img class="lg:max-h-96 max-h-48 object-contain" width="100%" height="auto" src={frontmatter.featured_image.src} alt={frontmatter.featured_image.alt}>
        <div class="blogMeta mt-8 mb-6 text-center">
            <div class="tags inline-flex justify-center flex-end">
                <p class="text-base leading-5 text-gray-500 mr-1">Category:</p>
                {frontmatter.tags.map((tag) => (
                    <a href={`/tags/${tag}`}>
                        <p class="tag text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                            {tag}
                        </p>
                    </a>
                ))}
            </div>
        </div>
        <slot />
        <div class="blogFooter text-center mt-8 mb-6">
            <div class="backButton">
                <a href=/blog>
                    <p class="inline-flex items-center text-base leading-5 font-semibold text-brand-blue hover:text-brand-blue-light transition ease-in-out duration-150">
                        <i class="mr-2 fa-solid fa-arrow-left"></i> Back to the blog
                    </p>
                </a>
            </div>
        </div>
    </section>
</PostLayout>
